/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
/*body{background:skyblue;}*/
.slider #myslider{
	 height:200;
	
}
.site-footer{
	background-color:#222;
	color:#fff;
	margin-left:10px;
	margin-right:10px;
	border-radius:3px;
	margin-top:30px;
	padding:30px;
}
.bottom-footer{
	border-top:1px solid #b2b2b2;
	margin-top:10px;
	padding-top:10px;
	color:#b2b2b2;
}
.footer-nav{
	text-align:right;
	list-style:none;
}

.footer-nav li {
	display:inline;
	
}
.footer-nav li:not(:first-child):before
{
	content:'|';
	padding:0px 10px;
}
	
.footer-nav a{
	color:#b2b2b2;
}
 .footer-nav a:hover{
	color:#fff;
	text-decoration:none;
}
